
<form class="mx-auto w-50 border p-5 bg-light mt-5" action="/register" method="post">
    <h1 class="text-center mb-3">Register</h1>
    <div class="mb-3">
        <label for="name" class="form-label">Full Name</label>
        <input type="text" class="form-control" value = "<%= data.fname %> "name = "fname" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name = "email" value = "<%= data.email %>" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name = "password1" class="form-control" value = "<%= data.password1 %>" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">Retype Password</label>
        <input type="password" name="password2" class="form-control" value = "<%= data.password2 %>" id="exampleInputPassword1">
      </div>
    
    <button type="submit" class="btn btn-primary">Register</button>
    <%if(error){%>
        <div class="mb-3">
            <h3 class="text-red"><%= error %> </h3>
        </div>
    <%}%>
  </form>